In [1]:
import pandas as pd
import dask.dataframe as dd

In [2]:
def parse_columns(df, cols):
    """Parses columns for a groupby-ed df"""
    cnt = df[cols]

    cnt = cnt.T
    cnt = cnt.reset_index(drop=True)
    cnt.columns = cnt.iloc[0]           # set first row to header
    cnt = cnt.drop(cnt.index[0])  # drop first row
    
    # create column for totals by sex
    if cols[1].endswith('Sex'):
        cnt.index =['Total']
    if cols[1].endswith('Male'):
        cnt.index =['Male']
    if cols[1].endswith('Female'):
        cnt.index =['Female']
    
    cnt.columns = range(len(cnt.columns))
    return cnt

In [3]:
def parse_group(df, dim):
    """parses each of the three 2nd dimensions (total, male, female)"""
    total = parse_columns(df, [dim, 'Dim: Sex (3): Member ID: [1]: Total - Sex'])
    male = parse_columns(df, [dim, 'Dim: Sex (3): Member ID: [2]: Male'])
    female = parse_columns(df, [dim, 'Dim: Sex (3): Member ID: [3]: Female'])

    unioned = pd.concat([total, male, female])
    return unioned

In [4]:
def parse_census_profile(df, dask=False):
    """parse census profile. input a pandas df"""
    
    # Get item to groupby on
    cols = df.columns
    level = [s for s in df.columns if s.startswith('DIM:')][0] 
    #count_dim = [s for s in df.columns if s.startswith('Dim:')]
    
    # Map integers to column names
    column_map = {i:v for i,v in enumerate(df.loc[df.GEO_NAME == 'Canada', level].tolist())}
    
    if dask:
        df = dd.from_pandas(df, npartitions=64)
        df = df.set_index('GEO_CODE (POR)')
        df = df.persist()
        parsed_df = df.groupby('GEO_CODE (POR)').apply(parse_group, level, meta={i:object for i in range(2247)}).compute(scheduler='processes')
    else:
        parsed_df = df.groupby('GEO_CODE (POR)').apply(parse_group, level)
        
    parsed_df = parsed_df.rename(columns=column_map)
    
    return parsed_df

# dissemination area

In [5]:
import os
files_dir = 'da'
files = [f'{files_dir}/' + f for f in os.listdir(files_dir)]

In [7]:
files

['da/98-401-X2016044_ONTARIO_English_CSV_data.csv',
 'da/98-401-X2016044_QUEBEC_English_CSV_data.csv',
 'da/98-401-X2016044_ATLANTIC_English_CSV_data.csv',
 'da/98-401-X2016044_TERRITORIES_English_CSV_data.csv',
 'da/98-401-X2016044_BRITISH_COLUMBIA_English_CSV_data.csv',
 'da/98-401-X2016044_PRAIRIES_English_CSV_data.csv']

In [36]:
%time da_t = parse_census_profile(df, dask=True)

CPU times: user 29.9 s, sys: 1.39 s, total: 31.3 s
Wall time: 37.2 s

In [8]:
df = pd.read_csv(files[0], low_memory=False)

In [ ]:
df[1] = pd.read_csv(files[1], low_memory=False)

In [21]:
da_t.head(5)

                      Population, 2016 Population, 2011  \
GEO_CODE (POR)
1              Total          35151728             7740
               Male                ...             4135
               Female              ...             3605
59             Total               255               95
               Male                135               70

                      Population percentage change, 2011 to 2016  \
GEO_CODE (POR)
1              Total                                       99140
               Male                                        51730
               Female                                      47410
59             Total                                         125
               Male                                           60

                      Total private dwellings  \
GEO_CODE (POR)
1              Total                      900
               Male                       500
               Female                     400
59             Total                      105
               Male                        65

                      Private dwellings occupied by usual residents  \
GEO_CODE (POR)
1              Total                                           3535
               Male                                            1855
               Female                                          1675
59             Total                                              0
               Male                                               0

                      Population density per square kilometre  \
GEO_CODE (POR)
1              Total                                    37060
               Male                                     19690
               Female                                   17375
59             Total                                      620
               Male                                       305

                      Land area in square kilometres  \
GEO_CODE (POR)
1              Total                           67335
               Male                            34755
               Female                          32580
59             Total                             420
               Male                              275

                      Total - Age groups and average age of the population - 100% data  \
GEO_CODE (POR)
1              Total                                              355045
               Male                                               185775
               Female                                             169270
59             Total                                                 770
               Male                                                  460

                      0 to 14 years 0 to 4 years  ... External migrants  \
GEO_CODE (POR)                                    ...
1              Total          15380         9590  ...             31446
               Male            7935         5075  ...               ...
               Female          7445         4515  ...               ...
59             Total            210          150  ...            541915
               Male             130           90  ...               ...

                      Total - Mobility status 5 years ago - 25% sample data  \
GEO_CODE (POR)
1              Total                                            10102285
               Male                                                  ...
               Female                                                ...
59             Total                                               35701
               Male                                                  ...

                      Non-movers   Movers Non-migrants  Migrants  \
GEO_CODE (POR)
1              Total       35174  1775035        76419  14072080
               Male          ...  1313385          ...       ...
               Female        ...   461650          ...       ...
59             Total       61280  1340055        88466     77108
               Male          ...      ...          ...       ...

                      Internal migrants Intraprovincial migrants  \
GEO_CODE (POR)
1              Total              92764                    76171
               Male                 ...                      ...
               Female               ...                      ...
59             Total            1881970                    90354
               Male                 ...                      ...

                      Interprovincial migrants External migrants
GEO_CODE (POR)
1              Total                   3967765             88249
               Male                        ...               ...
               Female                      ...               ...
59             Total                     75209             31899
               Male                        ...               ...

[5 rows x 2247 columns]

In [37]:
da_t.shape

(1011, 2247)

In [68]:
df_test = df_test.assign(dim=df_test.groupby('GEO_CODE (POR)').cumcount())

In [69]:
df_test.head(10)

,GEO_CODE (POR),DIM: Profile of Dissemination Areas (2247),Dim: Sex (3): Member ID: [1]: Total - Sex,dim
0,1,"Population, 2016",35151728,0
1,1,"Population, 2011",33476688,1
2,1,"Population percentage change, 2011 to 2016",5.0,2
3,1,Total private dwellings,15412443,3
4,1,Private dwellings occupied by usual residents,14072079,4
5,1,Population density per square kilometre,3.9,5
6,1,Land area in square kilometres,8965588.85,6
7,1,Total - Age groups and average age of the popu...,35151730,7
8,1,0 to 14 years,5839570,8
9,1,0 to 4 years,1898790,9

In [74]:
def groupby_pivot(df, dim):
    return df.pivot(index='GEO_CODE (POR)', 
                    columns=dim,
                    values='Dim: Sex (3): Member ID: [1]: Total - Sex')

In [77]:
%time df_test.groupby('GEO_CODE (POR)').apply(groupby_pivot, 'dim')

CPU times: user 48.9 s, sys: 22 ms, total: 48.9 s
Wall time: 48.9 s

,dim,0,1,2,3,4,5,6,7,8,9,...,2237,2238,2239,2240,2241,2242,2243,2244,2245,2246
GEO_CODE (POR),GEO_CODE (POR),,,,,,,,,,,,,,,,,,,,,
1,1,35151728,33476688,5.0,15412443,14072079,3.9,8965588.85,35151730,5839570,1898790,...,372475,32568565,20134760,12433805,6755630,5678175,4296720,3467675,829050,1381460
60,60,35874,33897,5.8,17987,15215,0.1,474712.68,35875,6280,2140,...,245,32985,18040,14945,8240,6700,5515,1230,4280,1185
61,61,41786,41462,0.8,17666,14981,0.0,1143793.86,41785,8870,3125,...,250,38035,21380,16650,9000,7655,6760,1745,5010,890
62,62,35944,31906,12.7,11433,9819,0.0,1877778.53,35945,11690,4160,...,55,31430,18460,12980,8745,4230,4045,1515,2535,185
6001,6001,35874,33897,5.8,17987,15215,0.1,474712.68,35870,6280,2140,...,250,32985,18040,14950,8240,6705,5515,1230,4280,1190
6101,6101,6372,6712,-5.1,2741,2248,0.0,365094.40,6375,1540,575,...,15,5635,3245,2385,1385,1005,955,365,590,50
6102,6102,2433,2341,3.9,1111,858,0.0,220752.16,2430,555,180,...,10,2230,1240,985,465,525,490,215,275,30
6103,6103,2751,2812,-2.2,861,705,0.1,25080.97,2750,805,270,...,10,2470,1980,490,315,175,170,90,80,0
6104,6104,3160,3256,-2.9,1495,1138,0.0,194494.15,3160,610,205,...,0,2920,2115,800,470,330,325,130,195,0
6105,6105,6980,6616,5.5,3199,2692,0.0,153468.37,6980,1375,455,...,25,6405,3890,2520,1295,1220,1180,450,725,40
6106,6106,20090,19725,1.9,8259,7340,0.1,184903.81,20090,3990,1435,...,205,18375,8910,9465,5070,4390,3635,500,3135,760
6204,6204,18988,16939,12.1,6556,5525,0.0,989879.35,18990,5975,2145,...,45,16660,9315,7345,4600,2750,2600,825,1770,150
6205,6205,10413,8955,16.3,3007,2631,0.0,444621.71,10415,3540,1240,...,10,9055,5540,3510,2545,965,945,490,455,20
6208,6208,6543,6012,8.8,1870,1663,0.0,443277.47,6545,2170,770,...,0,5715,3600,2115,1600,520,500,200,305,15
6001003,6001003,790,802,-1.5,447,357,129.4,6.11,790,145,45,...,10,745,420,325,145,175,155,40,110,20
6001004,6001004,348,344,1.2,444,173,1.7,203.57,350,60,20,...,0,325,175,150,40,110,100,55,40,15
6001006,6001006,124,122,1.6,65,54,64.6,1.92,125,30,5,...,0,115,50,60,25,30,30,10,25,10
6001007,6001007,139,138,0.7,86,69,68.1,2.04,140,20,5,...,0,135,85,45,25,15,15,10,10,0
6001008,6001008,35,53,-34.0,18,17,47.3,0.74,x,x,x,...,x,x,x,x,x,x,x,x,x,x
6001009,6001009,25085,23276,7.8,10710,10187,60.2,416.54,25085,4590,1555,...,210,23010,11820,11195,6605,4585,3665,490,3170,925
6001010,6001010,25,20,25.0,20,10,18.0,1.39,x,x,x,...,x,x,x,x,x,x,x,x,x,x
6001012,6001012,493,503,-2.0,271,202,13.3,36.95,490,120,35,...,0,450,290,155,85,75,65,25,40,0
6001016,6001016,0,0,...,44,0,0.0,5.04,x,x,x,...,x,x,x,x,x,x,x,x,x,x
6001018,6001018,613,593,3.4,336,277,17.8,34.49,615,120,40,...,0,565,325,240,100,140,125,80,45,15
6001019,6001019,0,0,...,3,0,0.0,5.68,x,x,x,...,x,x,x,x,x,x,x,x,x,x
6001022,6001022,200,226,-11.5,133,98,188.7,1.06,200,25,15,...,0,180,110,70,25,40,35,15,20,0
6001029,6001029,1375,1319,4.2,756,678,42.4,32.45,1375,220,85,...,10,1245,620,630,340,290,225,40,185,60
6001031,6001031,0,0,...,27,0,0.0,8.71,x,x,x,...,x,x,x,x,x,x,x,x,x,x
6001032,6001032,125,132,-5.3,80,55,21.8,5.74,125,15,10,...,0,115,90,30,20,10,10,0,10,0
6001035,6001035,188,203,-7.4,86,70,153.0,1.23,185,40,10,...,0,175,125,55,45,10,0,0,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62040068,62040068,891,...,...,228,201,6.2,143.10,890,340,125,...,0,765,440,330,245,85,85,50,35,0
62040069,62040069,1079,...,...,255,229,12.2,88.27,1080,415,145,...,10,925,565,360,275,80,75,20,55,10
62040070,62040070,603,...,...,163,140,44.4,13.59,600,245,85,...,0,520,385,130,85,45,45,25,20,0
62040071,62040071,706,...,...,186,167,7.0,101.31,705,265,90,...,0,620,380,240,175,60,60,50,15,0
62040072,62040072,347,...,...,102,82,66.2,5.24,350,110,45,...,0,305,235,70,45,20,25,15,10,0
62050012,62050012,1082,...,...,213,204,2.6,424.27,1080,460,155,...,0,920,555,365,290,75,70,45,25,0
62050013,62050013,0,...,...,0,0,0.0,443300.24,x,x,x,...,x,x,x,x,x,x,x,x,x,x
62050014,62050014,437,...,...,129,119,3.1,141.10,440,150,55,...,0,360,220,140,90,50,50,30,20,0
62050015,62050015,891,...,...,262,221,6.5,137.91,895,340,125,...,0,770,410,355,280,70,70,50,20,10
62050017,62050017,435,...,...,122,111,1.5,283.66,435,165,50,...,0,380,245,135,105,35,30,15,15,0
62050020,62050020,1522,...,...,591,469,86.9,17.51,1520,430,165,...,0,1345,695,655,420,235,230,90,140,0
62050021,62050021,1320,...,...,384,326,482.6,2.74,1325,390,120,...,0,1145,730,410,230,180,180,95,90,0
62050022,62050022,854,...,...,293,251,4.7,181.50,855,310,115,...,0,735,420,315,225,95,95,40,50,0
62050023,62050023,695,...,...,209,183,2034.5,0.34,690,210,65,...,0,615,405,210,190,25,25,10,10,10
62050024,62050024,520,...,...,165,146,1389.6,0.37,520,135,45,...,0,475,335,135,110,25,25,10,10,0
62050025,62050025,1342,...,...,329,319,10.2,131.43,1340,545,215,...,0,1130,625,505,440,65,65,30,40,0
62050026,62050026,550,...,...,144,134,2059.9,0.27,550,160,60,...,0,485,360,125,65,60,60,40,25,0
62050027,62050027,765,...,...,166,148,2002.6,0.38,765,255,75,...,0,690,535,155,110,45,45,40,10,0
62080015,62080015,0,...,...,0,0,0.0,442334.99,x,x,x,...,x,x,x,x,x,x,x,x,x,x
62080017,62080017,1029,...,...,261,231,27.3,37.65,1030,390,140,...,0,885,615,270,215,55,50,25,30,0
62080018,62080018,933,...,...,180,176,187.6,4.97,935,360,140,...,10,790,550,245,175,70,70,45,25,0
62080020,62080020,0,...,...,1,0,0.0,19.10,x,x,x,...,x,x,x,x,x,x,x,x,x,x
62080021,62080021,0,...,...,2,0,0.0,100.29,x,x,x,...,x,x,x,x,x,x,x,x,x,x
62080022,62080022,711,...,...,268,222,4.5,158.20,710,195,60,...,0,645,305,340,210,130,125,50,75,0
62080023,62080023,592,...,...,195,173,13.5,43.76,590,175,60,...,0,515,285,230,200,30,35,10,30,0
62080024,62080024,463,...,...,183,147,1162.7,0.40,460,105,40,...,0,420,295,125,75,50,50,0,40,0
62080025,62080025,553,...,...,190,172,1.9,294.55,550,160,50,...,0,500,285,215,140,75,70,30,40,0
62080026,62080026,938,...,...,279,258,3.7,255.10,935,295,105,...,0,835,405,425,365,65,60,20,35,10
62080027,62080027,760,...,...,183,164,30.8,24.65,760,290,95,...,0,660,495,175,135,35,35,10,20,0
62080028,62080028,564,...,...,128,120,147.7,3.82,565,190,85,...,0,470,370,95,85,15,15,0,10,0

In [85]:
%time df_test_pivoted = df_test.pivot(index='GEO_CODE (POR)', columns='dim', values='Dim: Sex (3): Member ID: [1]: Total - Sex')

CPU times: user 315 ms, sys: 0 ns, total: 315 ms
Wall time: 326 ms

In [86]:
df_test

,GEO_CODE (POR),DIM: Profile of Dissemination Areas (2247),Dim: Sex (3): Member ID: [1]: Total - Sex,dim
0,1,"Population, 2016",35151728,0
1,1,"Population, 2011",33476688,1
2,1,"Population percentage change, 2011 to 2016",5.0,2
3,1,Total private dwellings,15412443,3
4,1,Private dwellings occupied by usual residents,14072079,4
5,1,Population density per square kilometre,3.9,5
6,1,Land area in square kilometres,8965588.85,6
7,1,Total - Age groups and average age of the popu...,35151730,7
8,1,0 to 14 years,5839570,8
9,1,0 to 4 years,1898790,9
10,1,5 to 9 years,2018130,10
11,1,10 to 14 years,1922645,11
12,1,15 to 64 years,23376530,12
13,1,15 to 19 years,2026155,13
14,1,20 to 24 years,2242690,14
15,1,25 to 29 years,2285990,15
16,1,30 to 34 years,2329395,16
17,1,35 to 39 years,2288365,17
18,1,40 to 44 years,2255135,18
19,1,45 to 49 years,2359965,19
20,1,50 to 54 years,2678075,20
21,1,55 to 59 years,2620240,21
22,1,60 to 64 years,2290515,22
23,1,65 years and over,5935635,23
24,1,65 to 69 years,1972480,24
25,1,70 to 74 years,1420875,25
26,1,75 to 79 years,1021850,26
27,1,80 to 84 years,749645,27
28,1,85 years and over,770780,28
29,1,85 to 89 years,482520,29
...,...,...,...,...
757209,62080015,"English, French and non-official language",x,2217
757210,62080015,Total - Other language(s) used regularly at wo...,x,2218
757211,62080015,None,x,2219
757212,62080015,English,x,2220
757213,62080015,French,x,2221
757214,62080015,Non-official language,x,2222
757215,62080015,Aboriginal,x,2223
757216,62080015,Non-Aboriginal,x,2224
757217,62080015,English and French,x,2225
757218,62080015,English and non-official language,x,2226
757219,62080015,French and non-official language,x,2227
757220,62080015,"English, French and non-official language",x,2228
757221,62080015,Total - Mobility status 1 year ago - 25% sampl...,x,2229
757222,62080015,Non-movers,x,2230
757223,62080015,Movers,x,2231
757224,62080015,Non-migrants,x,2232
757225,62080015,Migrants,x,2233
757226,62080015,Internal migrants,x,2234
757227,62080015,Intraprovincial migrants,x,2235
757228,62080015,Interprovincial migrants,x,2236
757229,62080015,External migrants,x,2237
757230,62080015,Total - Mobility status 5 years ago - 25% samp...,x,2238
757231,62080015,Non-movers,x,2239
757232,62080015,Movers,x,2240
757233,62080015,Non-migrants,x,2241
757234,62080015,Migrants,x,2242
757235,62080015,Internal migrants,x,2243
757236,62080015,Intraprovincial migrants,x,2244
757237,62080015,Interprovincial migrants,x,2245
757238,62080015,External migrants,x,2246

### using pivot...

In [1]:
import pandas as pd
import re
import os

In [13]:
files_dir = 'dissemination_area'
files = [f'{files_dir}/' + f for f in os.listdir(files_dir) if f.startswith('98-401-X2016044')]

In [14]:
file_re = re.compile("98-401-X2016044_(.+)_English_CSV_data\.csv")

In [20]:
files

['dissemination_area/98-401-X2016044_ONTARIO_English_CSV_data.csv',
 'dissemination_area/98-401-X2016044_QUEBEC_English_CSV_data.csv',
 'dissemination_area/98-401-X2016044_ATLANTIC_English_CSV_data.csv',
 'dissemination_area/98-401-X2016044_TERRITORIES_English_CSV_data.csv',
 'dissemination_area/98-401-X2016044_BRITISH_COLUMBIA_English_CSV_data.csv',
 'dissemination_area/98-401-X2016044_PRAIRIES_English_CSV_data.csv']

In [ ]:
colmap = None

for file in files:
    df = pd.read_csv(file, low_memory=False)
    region = file_re.search(file).groups()[0]
    print(file, region)
    
    # Replace dimension headers as INTs
    df = df.assign(dim=df.groupby('GEO_CODE (POR)').cumcount())
    if colmap is None:
        colmap = dict(df.loc[df['GEO_CODE (POR)'] == 1, ['DIM: Profile of Dissemination Areas (2247)', 'dim']].to_records(index=False))

    # Pivot each gender category then concat them
    df_pivoted_total = df.pivot(index='GEO_CODE (POR)', 
                                columns='dim', 
                                values='Dim: Sex (3): Member ID: [1]: Total - Sex')
    df_pivoted_total = df_pivoted_total.assign(sex='total')

    df_pivoted_male = df.pivot(index='GEO_CODE (POR)', 
                                columns='dim', 
                                values='Dim: Sex (3): Member ID: [2]: Male')
    df_pivoted_male = df_pivoted_male.assign(sex='male')

    df_pivoted_female = df.pivot(index='GEO_CODE (POR)', 
                                columns='dim', 
                                values='Dim: Sex (3): Member ID: [3]: Female')
    df_pivoted_female = df_pivoted_female.assign(sex='female')

    df_pivoted = pd.concat([df_pivoted_total, df_pivoted_male, df_pivoted_female])
    df_pivoted = df_pivoted.assign(region=region)
    df_pivoted = df_pivoted.reset_index()
    df_pivoted.to_csv(f"{files_dir}/parsed_{region}.csv", index=False)
    
    del df, df_pivoted

dissemination_area/98-401-X2016044_ONTARIO_English_CSV_data.csv ONTARIO
dissemination_area/98-401-X2016044_ATLANTIC_English_CSV_data.csv ATLANTIC
dissemination_area/98-401-X2016044_TERRITORIES_English_CSV_data.csv TERRITORIES
dissemination_area/98-401-X2016044_BRITISH_COLUMBIA_English_CSV_data.csv BRITISH_COLUMBIA
dissemination_area/98-401-X2016044_PRAIRIES_English_CSV_data.csv PRAIRIES

In [25]:
# Merge all parsed files into one dataframe
all_df = pd.concat([pd.read_csv(f"{files_dir}/{f}", low_memory=False) for f in os.listdir(files_dir) if f.startswith('parsed')])

In [26]:
all_df.head(3)

,GEO_CODE (POR),0,1,2,3,4,5,6,7,8,...,2239,2240,2241,2242,2243,2244,2245,2246,sex,region
0,1,35151728,33476688,5.0,15412443,14072079,3.9,8965588.85,35151730,5839570,...,20134760,12433805,6755630,5678175,4296720,3467675,829050,1381460,total,QUEBEC
1,24,8164361,7903001,3.3,3858943,3531663,6.0,1356625.27,8164365,1333255,...,4825870,2695090,1507670,1187425,949170,893800,55370,238250,total,QUEBEC
2,2401,12475,12781,-2.4,6477,5534,59.3,210.30,12475,1405,...,9515,2275,1510,765,750,710,35,20,total,QUEBEC

In [47]:
cols = df.loc[df['GEO_CODE (POR)'] == 1, ['Member ID: Profile of Dissemination Areas (2247)', 'DIM: Profile of Dissemination Areas (2247)']]
cols.columns = ['dim', 'value']
cols.to_csv('da_col_lookup.csv', index=False)

In [49]:
cols.head(10)

   dim                                              value
0    1                                   Population, 2016
1    2                                   Population, 2011
2    3         Population percentage change, 2011 to 2016
3    4                            Total private dwellings
4    5      Private dwellings occupied by usual residents
5    6            Population density per square kilometre
6    7                     Land area in square kilometres
7    8  Total - Age groups and average age of the popu...
8    9                                      0 to 14 years
9   10                                       0 to 4 years

In [51]:
all_df.to_csv('da_census2016.csv', index=False)

In [2]:
import pandas as pd

In [3]:
all_df = pd.read_csv('da_census2016.csv')

/home/ec2-user/anaconda3/envs/python3_persisted/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,2,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1325,1326,1327,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408,1409,1410,1411,1412,1413,1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1504,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536,1537,1538,1539,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651,1652,1653,1654,1655,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714,1715,1716,1717,1718,1719,1720,1721,1722,1723,1724,1725,1726,1727,1728,1729,1730,1731,1732,1733,1734,1735,1736,1737,1738,1739,1740,1741,1742,1743,1744,1745,1746,1747,1748,1749,1750,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772,1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786,1787,1788,1789,1790,1791,1792,1793,1794,1795,1796,1797,1798,1799,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,1819,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829,1830,1831,1832,1833,1834,1835,1836,1837,1838,1839,1840,1841,1842,1843,1844,1845,1846,1847,1848,1849,1850,1851,1852,1853,1854,1855,1856,1857,1858,1859,1860,1861,1862,1863,1864,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874,1875,1876,1877,1878,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075,2076,2077,2078,2079,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100,2101,2102,2103,2104,2105,2106,2107,2108,2109,2110,2111,2112,2113,2114,2115,2116,2117,2118,2119,2120,2121,2122,2123,2124,2125,2126,2127,2128,2129,2130,2131,2132,2133,2134,2135,2136,2137,2138,2139,2140,2141,2142,2143,2144,2145,2146,2147,2148,2149,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159,2160,2161,2162,2163,2164,2165,2166,2167,2168,2169,2170,2171,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181,2182,2183,2184,2185,2186,2187,2188,2189,2190,2191,2192,2193,2194,2195,2196,2197,2198,2199,2200,2201,2202,2203,2204,2205,2206,2207,2208,2209,2210,2211,2212,2213,2214,2215,2216,2217,2218,2219,2220,2221,2222,2223,2224,2225,2226,2227,2228,2229,2230,2231,2232,2233,2234,2235,2236,2237,2238,2239,2240,2241,2242,2243,2244,2245,2246,2247) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
col_map = pd.read_csv('da_col_lookup.csv')

In [6]:
col_map

       dim                                          value
0        1                               Population, 2016
1        2                               Population, 2011
2        3     Population percentage change, 2011 to 2016
3        4                        Total private dwellings
4        5  Private dwellings occupied by usual residents
...    ...                                            ...
2242  2243                                       Migrants
2243  2244                              Internal migrants
2244  2245                       Intraprovincial migrants
2245  2246                       Interprovincial migrants
2246  2247                              External migrants

[2247 rows x 2 columns]

In [4]:
all_df.shape

(186192, 2250)

In [ ]:
all_df

In [7]:
all_df = all_df[all_df['GEO_CODE (POR)'] > 9999]

In [ ]:
for c in [c for c in all_df.columns if c not in ('GEO_CODE (POR)', 'sex', 'region')]:
    all_df[c] = pd.to_numeric(all_df[c], errors='coerce')

KeyboardInterrupt:

In [12]:
c

'325'

In [14]:
all_df['325']

100       0
101       0
102       0
103       0
104       0
         ..
186187    0
186188    0
186189    0
186190    0
186191    0
Name: 325, Length: 185256, dtype: object

In [11]:
1

1